body{
  background-color: grey;
  color: white;
  font-size: 8vh;
  text-align: center;
  min-height: 500vh;
  top:50%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.out {
  vertical-align: middle;
}

div.textbox{
  min-height: 60vh;
  vertical-align: center;
  padding-top: 40vh;

}



.flex-container {
  display: flex;
  width: 100%;
  margin-left: 0px;
  margin-top: 0px;
}

.vertical{
  flex-direction: column;
  justify-content: flex-start;
}

.horizontal{
  flex-direction: row;
  justify-content: left;
}

.flex-item {
  margin-left: 0px;
  margin-top: 0px;
  flex-grow: 0;
}

.flex-item:first-child {
  margin-left: 0px;
  margin-top: 0px;
}

div.content{
  margin: 0;
  padding: 0;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}


div.p5jsClass{
  margin: 1vh;
  color: white;
  background-color: grey;
  font-size: 3vh;
  text-align: left;
  top: 0px;
  max-width: 40vw;
}

.image{
  padding-right: 2vw;
  width: auto;
  max-height: 40vh;
  float: right;
  text-align: right;
}
