body{
  background-color: black;
  color: white;
  font-size: 6vh;
  text-align: center;
  min-height: 500vh;
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  width: 100%;
}

.flex-item {
  margin-left: 0px;
  flex-grow: 1;
}

.flex-item:first-child {
  margin-left: 10px;
}


div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
}
